<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <%- include('../../partials/head') -%>
    <%- include('../../partials/style') -%>
</head>

<body>
  <%- include('../../partials/navbar') -%>
    <!-- <h1>about US</h1> -->
    <div class="card" style="margin:0 auto;margin-top:8%;border-radius: 60px;width:94%;">
      <div class="card-body">
        <h1 style="border: 3px solid black;display:flex;width:60%"><img src="r.jpg" alt="">關於福金＆霧尼<img src="r.jpg" alt=""></h1>
        <div style="border-radius: 20px;border:solid 3px black;padding:3px">
        <h3 style="text-align: center;">簡介</h3>
        <p>這是一個希望能結合NFT與文創作為行銷策略的網站。</p>
        <p>因為台灣有眾多優秀的圖文創作家以及相關的創作周邊商品，</p>
        <p>希望這個網站能夠作為一個平台，與這些創作者合作，並引進時下流行的ＮＦＴ。讓創作者有更多的管道讓大眾看到自己最好的作品，獲得更多的支持（＄）。</p>
        <p>透過“福金＆霧尼”這個平台創造出與創作者共同的利潤，用以提供更好的作品及服務，同時提供消費者收藏喜好作品的平台，製造三贏的局面。</p>
      </div>

      <div style="border-radius: 20px;border:solid 3px black;padding:3px;margin:5px">
        <h3 id="aboutNFT"  style="text-align: center;">關於ＮＦＴ</h3>
        <p>NFT是Non-Fungible Token的縮寫，翻成中文是「非同質代幣」，也就是「同質代幣」的相反。</p>
        <p>所謂同質，意指每顆特質一模一樣，可完全互相取代。從日常的銅板、紙鈔到區塊鏈上的比特幣、以太幣，乃至目前為止絕大多數加密貨幣，都是同質代幣。</p>
        <p>非同質代幣，則是彼此雖相似，但每顆都有不一樣特質，因此無法互相取代。
          例如有編號的限量金銀幣、版畫、簽名球員卡等。而在區塊鏈的世界，主要是在以太坊區塊鏈上，經由ERC-721智能合約發行，或在Flow區塊鏈上以NFT類型發行的代幣。
          同質的比特幣等加密貨幣前輩，解決的是人類社會價值儲存與交易介質的數位化問題。</p>
        <p>換言之，同質代幣就是數位通貨，非同質代幣更接近商品，而不像通貨。</p>
        <p>我們買實體限量商品時，本就常會附有一張紙本的所有權證書，如今NFT說穿了就是運用區塊鏈特性，把這個證明數位化。</p>
        <p>過去紙本的擁有證明其實很難驗證，尤其今日掃瞄、列印技術日新月異，有心要複製，專家都難分辨。透過數位化的憑證，可以輕易的解決這個問題。</p>
      </div>
        <div style="border-radius: 20px;border:solid 3px black;padding:3px;margin:5px">
        <h3 style="text-align: center;">我們的目標</h3>
          <p>我們希望透過ＮＦＴ的方式，讓創作者除了販賣貼圖及週邊實體商品這種薄利多銷的方式之外，還有更多的選擇。</p>
          <p>讓自己筆下的作品走向精緻化，稀少化，甚至客製化，藉此提升自己作品的價值。透過價值的提升還能夠刺激創作者創作出更高品質的作品。</p>
          <p>消費者的方面，能夠在此平台收集自己所支持的創作者或是喜歡的作品。透過限量的貼圖或表情貼，使用者甚至可以將收藏的ＮＦＴ貼圖使用在社交軟體中，讓大家展示自己的獨一無二，同時兼具推廣ＮＦＴ的廣告效益。</p>
          <p>未來平台也將提供多樣化的收藏模式，讓ＮＦＴ玩家可以將自己的收藏品用自己的的風格展示出來。</p>
        </div>
          <!-- <a href="/contactus" class="card-link">聯繫我們</a> -->
        <a href="http://localhost:1214/about" class="btn btn-primary" style="align-items: center;text-align:center;margin-left:45%;">回到最上層</a>
      </div>
    </div>
    <%- include('../../partials/footer') -%>
    <%- include('../../partials/script') -%>
</body>

</html>