<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <%- include('../../partials/head') -%>
    <%- include('../../partials/style') -%>
</head>
<body>
    <%- include('../../partials/admin/adminavbar') -%>
    <h1>Error Page</h1>
    <h2><a href="/admin">Back to HomePage</a></h2>

    <%- include('../../partials/footer') -%>
    <%- include('../../partials/script') -%>
</body>
</html>