<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <%- include('../../partials/head') -%>
    <%- include('../../partials/style') -%>
</head>

<body>
  <%- include('../../partials/navbar') -%>

    <div class="card" style="margin:0 auto;margin-top:8%;border-radius: 60px;width:94%;">
      <h1 style="border: 3px solid black;display:flex;"><img src="r.jpg" alt=""> Contact Us <img src="r.jpg" alt=""> </h1>
      <div class="card-body row">
        <div style="margin: 0 auto;">
          <h4 class="card-title">聯絡 Email :</h4>
          <h6 class="card-subtitle mb-2 text-muted">公用</h6>
          <a href="mailto:qwer@gmail.com" class="card-text">
            qwer@iii.org.tw
          </a>
          <p style="margin: 0;">-----------------</p>
          <div>
            <h4 class="card-title">聯絡電話 :</h4>
            <h6 class="card-subtitle mb-2 text-muted">公關部</h6>
            <p><a href="tel:+886-27350655" class="card-text">
                0227350655
              </a></p>
            <p><a href="tel:+886-266318168" class="card-text">
                0266318168
              </a></p>
            
          </div>
        </div>
        <div style="margin: 0 auto;">
          <h4>我們的位置:</h4>
          <div style="font-size: 5px;">
            <p>交通資訊1. 台北捷運站名: 文湖線科技大樓站</p>
            <p> 2. 公車站名: 科技大樓站</p>
            <p> 3. 公車路線有3、15、18、52、72、74、235、278正、284、敦化幹線、和平幹線公車等。</p>
          </div>
          <p style="margin: 0;">-----------</p>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28921.020779489983!2d121.52873734187499!3d25.029743498684873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c7f37e71cce4568!2z6LOH562W5pyD!5e0!3m2!1szh-TW!2stw!4v1621909693853!5m2!1szh-TW!2stw"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <a href="http://localhost:1214/contactus" class="btn btn-primary" style="margin:10px auto;width:16%;">返回最上層</a>
    </div>
    <%- include('../../partials/footer') -%>
    <%- include('../../partials/script') -%>
</body>

</html>