<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <%- include('../../partials/head') -%>
        <%- include('../../partials/style') -%>
    </head>
    <body>
        <%- include('../../partials/navbar') -%>
        <h1 class="whiteback">ＮＦＴ周邊商品</h1>
        <div style="text-align: center;">
        <div class="card mb-3 d-inline-block">
            <div class="card-body">
              <p class="card-text" id="ptitle0" value="cat" style="margin:0;">華麗虛擬像框</p>
            </div>
            <img src="/images/ex13.jpeg" alt="Card image">
            <div class="card-body" style="margin: 0;padding:0;">
            <span>價錢：</span><span class="card-text" id="pprice0" value="1000">1000</span><span>.NT</span>
            </div>
            <a href="#" class="btn btn-primary" onclick="addshopcar()">放入購物車</a>
          </div>

          <div class="card mb-3 d-inline-block">
            <div class="card-body">
              <p class="card-text" id="ptitle1" value="cat" style="margin:0;">科技感虛擬展示盒</p>
            </div>
            <img src="/images/ex14.jpeg" alt="Card image">
            <div class="card-body" style="padding:0">
              <span>價錢：</span><span class="card-text" id="pprice1" value="1500">1500</span><span>.NT</span>
            </div>
            <a href="#" class="btn btn-primary" onclick="addshopcar1()">放入購物車</a>
          </div>

          <div class="card mb-3 d-inline-block">
            <div class="card-body">
              <p class="card-text" id="ptitle2" value="cat" style="margin:0;">純金虛擬展示盒</p>
            </div>
            <img src="/images/ex15.jpeg" alt="Card image">
            <div class="card-body" style="padding:0">
              <span>價錢：</span><span class="card-text" id="pprice2" value="2000">2000</span><span>.NT</span>
            </div>
            <a href="#" class="btn btn-primary" onclick="addshopcar2()">放入購物車</a>
          </div>

          <div class="card mb-3 d-inline-block">
            <div class="card-body">
              <p class="card-text" id="ptitle3" value="cat" style="margin:0;">玫瑰展示盒</p>
            </div>
            <img src="/images/ex16.jpeg" alt="Card image">
            <div class="card-body" style="padding:0">
              <span>價錢：</span><span class="card-text" id="pprice4" value="200">200</span><span>.NT</span>
              </div>
              <a href="#" class="btn btn-primary" onclick="addshopcar3()">放入購物車</a>
          </div>
          <div class="card mb-3 d-inline-block">
            <div class="card-body">
              <p class="card-text" id="ptitle4" style="margin:0;">科技感虛擬畫框</p>
            </div>
            <img src="/images/ex17.jpeg" alt="Card image">
            <div class="card-body" style="padding:0">
              <span>價錢：</span><span class="card-text" id="pprice4" value="900">900</span><span>.NT</span>
               </div>
               <a href="#" class="btn btn-primary" onclick="addshopcar4()">放入購物車</a>
          </div>
          <div class="card mb-3 d-inline-block">
            <div class="card-body">
              <p class="card-text" id="ptitle5" style="margin:0;">動漫風虛擬展示框</p>
            </div>
            <img src="/images/ex18.png" alt="Card image">
            <div class="card-body" style="padding:0">
              <span>價錢：</span><span class="card-text" id="pprice5" value="100">100</span><span>.NT</span>
              </div>
              <a href="#" class="btn btn-primary" onclick="addshopcar5()">放入購物車</a>
          </div>
          <%- include('../../partials/footer') -%>
        <%- include('../../partials/script') -%>
        <script>
         function addshopcar(){
           var addproduct={
             title:$('#ptitle0').text(),
             price:$('#pprice0').text(),
             quantity:1
           };
           console.log(JSON.stringify(addproduct));
           $.ajax({
             type:"POST",
             url:"http://localhost:1214/shopcar/bill",
             data:addproduct
           }).done(function(data){
             alert("放入購物車");
           }).fail(function(error){
             alert(error);
           });
         }

         function addshopcar1(){
          var addproduct={
            title:$('#ptitle1').text(),
            price:$('#pprice1').text(),
            quantity:1
          };
          console.log(JSON.stringify(addproduct));
          $.ajax({
            type:"POST",
            url:"http://localhost:1214/shopcar/bill",
            data:addproduct
          }).done(function(data){
            alert("放入購物車");
          }).fail(function(error){
            alert(error);
          });
        }

        function addshopcar2(){
          var addproduct={
            title:$('#ptitle2').text(),
            price:$('#pprice2').text(),
            quantity:1
          };
          console.log(JSON.stringify(addproduct));
          $.ajax({
            type:"POST",
            url:"http://localhost:1214/shopcar/bill",
            data:addproduct
          }).done(function(data){
            alert("放入購物車");
          }).fail(function(error){
            alert(error);
          });
        }

        function addshopcar3(){
          var addproduct={
            title:$('#ptitle3').text(),
            price:$('#pprice3').text(),
            quantity:1
          };
          console.log(JSON.stringify(addproduct));
          $.ajax({
            type:"POST",
            url:"http://localhost:1214/shopcar/bill",
            data:addproduct
          }).done(function(data){
            alert("放入購物車");
          }).fail(function(error){
            alert(error);
          });
        }

        function addshopcar4(){
          var addproduct={
            title:$('#ptitle4').text(),
            price:$('#pprice4').text(),
            quantity:1
          };
          console.log(JSON.stringify(addproduct));
          $.ajax({
            type:"POST",
            url:"http://localhost:1214/shopcar/bill",
            data:addproduct
          }).done(function(data){
            alert("放入購物車");
          }).fail(function(error){
            alert(error);
          });
        }

        function addshopcar5(){
          var addproduct={
            title:$('#ptitle5').text(),
            price:$('#pprice5').text(),
            quantity:1
          };
          console.log(JSON.stringify(addproduct));
          $.ajax({
            type:"POST",
            url:"http://localhost:1214/shopcar/bill",
            data:addproduct
          }).done(function(data){
            alert("放入購物車");
          }).fail(function(error){
            alert(error);
          });
        }
        </script>
    </body>
    </html>